#conntent {
    height:10%;
    margin:10px 0 10px 0;
    border-radius: 1%;
    border: solid 1px white;
    background-color: rgb(198,235,201);
}

.selfImg {
    position:absolute;
    top:1.2%;
    right:26%;
    width:14%;
    height:2%;
    border:solid 1px rgb(170,137,118);
    border-radius: 4%;
    background-image: url(../../../Images/selfImg.jpg);
    background-size: 100% 100%;
}

#conntent>.content{
    position:absolute;
    left:5%;
    width:80%;
}

h1,h2,h3 {
    font-weight: normal;
}