#work {
    height:100%;
    margin:10px 0 10px 0;
    border-radius: 1%;
    background-image: url(https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3753402519,858646979&fm=26&gp=0.jpg);
    background-size:100% 100%;
}


