
.fontstyle {
    color:black;
    font-size:18px;
}

.bk {
    background-image:url(../Images/bk2hb75.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
 p {
     background-color:white;
 }



/* part1*/
.midmenu {
    border-style:none;
    border-width: 1px;
    position:fixed;
    left:120px;
}

a.demo {
    font-family: 微软雅黑;
    font-weight:lighter;
    font-size: 18px;
}

a.demo:link {
    color:blue;
}
a.demo:visited {
    color:black;
}
a.demo:hover {
    color:rgb(255,68,0);
    text-decoration: underline;

}
a.demo:active {
    color: red;
}

.baiduContent {
    position:fixed;
    top:150px;
    
}

.abaiduContent {
    border-style: solid;
    font-size:25px;
    font-weight:normal;
}

a.abaiduContent:link {
    text-color:blue;
    text-decoration:underline;
}
a.abaiduContent:visited {
    color:rgb(165, 148, 148);
}
a.abaiduContent:hover {
    color:rgb(255,68,0);
    text-decoration: underline;

}
a.abaiduContent:active {
    color: red;
}

.abaiduContent1 {
    color:red;
} 

